<!-- Footer -->
<footer class="page-footer font-small mdb-color grey-3 pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-2 col-md-12 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" (click)="selectTown('paris')" title="Paris">
                    <img src="../../../assets/towns/paris.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" (click)="selectTown('amsterdam')" title="Amsterdam">
                    <img src="../../../assets/towns/amsterdam.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" (click)="selectTown('rome')" title="Rome">
                    <img src="../../../assets/towns/rome.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-12 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" (click)="selectTown('london')" title="London">
                    <img src="../../../assets/towns/london.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" (click)="selectTown('madrid')" title="Madrid">
                    <img src="../../../assets/towns/madrid.jpeg" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half" (click)="selectTown('belgrade')" title="Belgrade">
                    <img src="../../../assets/towns/belgrade.png" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-light" mdbWavesEffect></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/AleksandarRadivojevic"> Aleksandar Radivojevic</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->