body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/69/eb/80/69eb8067d775af1e9a7c523f9af6cdf3.jpg");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  padding: 2% 15%;
  text-align: center;

  button {
    display: none;
  }
  .searchBox {
    display: flex;
    justify-content: space-around;


    .searchCity {
      background-color: black;
      opacity: 0.7;
      color: white;
      border-radius: 5px;
      outline-width: 0;
      text-indent: 50px;
      margin-bottom: 20px;
    }
  }

  .currentBox {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;

    .other {
      margin-left: 20px;
      text-align: left;
    }
  }
  .temperature {
    display: flex;
  }

  table {
    background: black;
    opacity: 0.7;
    color: #fff;
    font-weight: bolder;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;

    .day {
      text-indent: 10px;
      text-align: left;
    }
    td {
      border: 1px solid grey;
      padding: 5px 20px;
    }
  }
}

.spinner-grow {
  position: absolute;
  top: 50%;
  left: 50%;
}

.alert {
  position: absolute;
  top: 35%;
  left: 35%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

@media only screen and (max-width: 992px) {
  .searchBox {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    .data {
      display: none;
    }

    table {
      td {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .content {
    padding: 2% 10%;

    button {
      position: absolute;
      top: 50px;
      right: 15px;
      display: block;
    }

    .currentBox {
      display: flex;
      flex-direction: column;

      .other {

        h3,h4,p{
          font-size: 16px;
        }
      }
    }
    .temperature {

      img {
        height: 100px;
        width: 100px;
        margin-top: -20px;
      }

      h1 {
        font-size: 48px;
      }
    }

    .data {
      display: block;

      h3 {
        font-size: 18px;
      }
    }
    table {

      td {
        border: 1px solid grey;
        padding: 5px 13px;
        font-size: 14px;
      }

      .hideOnMob {
        display: none;
      }
    }
  }
}
